<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Simulados
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-searchbar color="primary" animated></ion-searchbar>

  <div class="spinnerCenter" *ngIf="showSpinner == true">
    <ion-spinner name="dots"></ion-spinner>
  </div>
  
  <ion-list *ngIf="selecao == null">
    <ion-item (click)="select(inst);" *ngFor="let inst of instituicoes">
      {{inst.nome}}
    </ion-item>
  </ion-list>

  <div *ngIf="selecao != null">
    <ion-list>
      <ion-item (click)="select(inst);" *ngFor="let prova of provas">
        {{prova.ano}}-{{prova.periodo}}
        <ion-button color="tertiary" slot="end">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="unselect();">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>  
  </div>
</ion-content>
